p 親愛的#{name}： 
p 今日(#{date})#{time}的課程有空位可以補課，但距離上課的時間很近，來信跟你確認是否能來上課。
p 無論是否前往，請幫我點擊下面的按鈕，以便系統詢問下一位候補同學的意願～
br
a(href=acceptLink style='padding: 16px 28px; background: black; color: white; text-decoration: none; margin: 8px; border-radius: 8px;') 我要上課
a(href=declineLink style='padding: 16px 28px; color: gray; margin: 8px') 無法前往
p(style='margin-top:56px;') 芝伊