p 親愛的#{name}： 
p 今日(#{date})#{time}的課程有空位可以補課，但距離上課的時間很近，來信跟你確認是否能來上課。
p 請由下方按鈕讓我知道你的意願。如果不能來的話，點擊後系統會取消這次的候補並退還補課機會給你。
br
a(href=acceptLink style='padding: 16px 28px; background: black; color: white; text-decoration: none; margin: 8px; border-radius: 8px;') 我要上課
a(href=declineLink style='padding: 16px 28px; color: gray; margin: 8px') 無法前往
p(style='margin-top:56px;') 芝伊